.chartWithControls {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem); /*5 rem is date selection bar height*/
    width: 100%;
}

.plutograph {
    flex: 1;
    width: 100%;
    /*min-height: 80%;*/
}

.dateSelection {
    flex: 0 0 auto;
}

.dateSelectionBar {
    height: 5rem;
}