.image_board {
    width: 100vw;
    overflow: hidden;
    margin-top: var(--marginTop);
    gap: var(--imageGap);

    --speed: var(--speed);
    --imageQuantity: var(--imageQuantity);
    --imageWidth: var(--imageWidth);
    --imageGap: var(--imageGap);
    --direction: var(--direction);
    --marginTop: var(--marginTop);

    --singleImageSpeed: calc(var(--speed) / var(--imageQuantity));
    --imageWidth-Gap: calc(var(--imageWidth) + var(--imageGap));
    --trackWidth: calc(var(--imageWidth-Gap) * var(--imageQuantity));
}

.image_track {
    display: flex;
    width: calc(var(--trackWidth) * 2);
    animation: move_images var(--speed) linear infinite;
    animation-direction: var(--direction);
    gap: var(--imageGap);
}

.image {
    width: var(--imageWidth);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes move_images {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1 * var(--trackWidth)));
    }
}