body {
    margin: 0;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    position: relative;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 12vh;
}

.divContainer {
    position: relative;
    content: "";
    display: table;
    clear: both;
}

.divColumn {
    float: left;
    width: var(--width);
    --width: var(--width);
}

.sideVideo {
    margin-top: 100px;
}

.sponsorsContainer {
    position: relative;
    bottom: 0;
    margin-top: 20vh;
}

.sponsorsHeader {
    text-align: center;
}

.sponsorsBackground {
    position: fixed;
    overflow: hidden;
    bottom: 0;
}