body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.navLink {
    font-family: Impact, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #94140a;
    text-decoration: none;

    margin: 1rem;
}

.navLink:visited {
    font-family: Impact, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #94140a;
    text-decoration: none;
}

.menuClock {
    flex: 1;
    margin: auto;
    font-family: Impact, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #94140a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuComment {
    flex: 3;
    margin: auto;
}

.menuNav {
    flex: 1;
    margin: auto;
}

.menu {
    /*DO NOT make this into a var coz it will break the layout for some reason*/
    height: 3rem;
    display: flex;
    background-color: #3b3b3b;
    z-index: 10;
}

.divContainer {
    display: flex;
    height: calc(100vh - 3rem);
}

.subpageContainer {
    width: calc(100vw - 450px);
}

.chatContainerHome {
    float: left;
    overflow: auto;
    width: 450px;
    height: 100%;
    z-index: 10;
}

@media only screen and (min-width: 1100px) {
    .sponsorsContainerHome {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .menuClock, .menuComment {
        display: none;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        z-index: 11;
    }

    .menuNav {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .navLink {
        margin: auto;
    }

    .divContainer {
        display: block;
        height: calc(100vh - 3rem);
        margin-top: 3rem;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .sponsorsContainer {
        width: 100vw;
    }

    .chatContainerHome {
        overflow: auto;
        width: 100%;
        height: 50rem;
        z-index: 10;
    }

    .subpageContainer {
        width: 100vw;
    }
}