body {
    margin: 0;
    box-sizing: border-box;
}

.menuClock {
    flex: 1;
    margin: auto;
    font-family: Impact, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #94140a;
}

.menuComment {
    flex: 3;
    text-align: center;
    margin: auto;
}

.menuNav {
    flex: 1;
    margin: auto;
}

/*.divContainer {*/
/*    width: 100%;*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/*.divColumn {*/
/*    float: left;*/
/*    position: relative;*/
/*    z-index: 10;*/
/*    width: var(--width);*/
/*    --width: var(--width);*/
/*}*/

/*.sideVideo {*/
/*    margin-top: 100px;*/
/*}*/

/*.sponsorsHeader {*/
/*    font-family: Impact, serif;*/
/*    text-align: center;*/
/*    font-size: 50px;*/
/*    font-weight: bold;*/
/*    color: #94140a;*/
/*}*/

/*.headerContainer {*/
/*    position: relative;*/
/*    text-align: center;*/
/*}*/

/*.sponsorsContainer {*/
/*    position: relative;*/
/*    bottom: 0;*/
/*}*/

/*.sponsorsBackground {*/
/*    position: fixed;*/
/*    overflow: hidden;*/
/*    bottom: 0;*/
/*}*/

/*@media screen and (max-width: 1400px) {*/
/*    body {*/
/*        max-width: 100%;*/
/*    }*/

/*    .divColumn {*/
/*        width: 100%*/
/*    }*/

/*    .titleContainer {*/
/*        margin: 0 15px;*/
/*    }*/
/*}*/

.menu {
    height: 50px;
    display: flex;
    background-color: #3b3b3b;
    z-index: 10;
}

.divContainer {
    display: flex;
    height: calc(100vh - 50px);
}

.main {
    flex: 3;
    float: left;
    overflow-x: hidden;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.chat {
    flex: 2;
    float: left;
    overflow: auto;
    height: 100%;
    z-index: 10;
}