.liveChatBox {
    background-color: var(--secondaryBg);
    margin: 20px 40px 20px 20px;
    padding: var(--paddingAndMargin);
    border-radius: var(--borderRadius);

    --borderRadius: 15px;
    --paddingAndMargin: 15px;

    --primaryBg: #3b3b3b;
    --secondaryBg: #2a2a2a;

    --scrollBg: #272727;
    --scrollIdle: #94140a;
    --scrollHover: #d9200f;
}

.liveChatHeader {
    text-align: center;
    color: var(--scrollHover);
    font-family: Impact, sans-serif;
    font-size: 24pt;
}

.chat {
    background-color: var(--primaryBg);
    height: 340px;
    border-radius: var(--borderRadius);
    padding: var(--borderRadius);
    margin-top: var(--borderRadius);

    overflow: auto;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
        width: 15px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--scrollBg);
        border-radius: var(--borderRadius);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--scrollIdle);
        border-radius: var(--borderRadius);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollHover);
    }
}

.message {
    font-family: Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 18px;
    text-align: left;
    padding: 5px;

    .username {
        color: var(--scrollHover);
        font-weight: bold;
        margin-right: 20px;
    }

    .text {
        color: ghostwhite;
    }
}

.inputContainer {
    position: relative;
    content: "";
    clear: both;
    width: 100%;
}

.inputBox {
    background-color: var(--primaryBg);
    height: 40px;
    border-radius: var(--borderRadius);
    margin-top: var(--paddingAndMargin);
    width: 100%;
}

.input {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    width: 95%;
    height: 85%;
    border: none;
    outline: none;
    color: ghostwhite;
    float: left;
}

.buttonBox {
    margin-top: var(--borderRadius);
    width: 100%;
}

.button {
    height: 40px;
    width: 100%;
    background-color: var(--secondaryBg);
    justify-content: center;
    text-align: center;
    border: none;
    text-decoration: none;
    display: flex;
}

.button:hover {
    background-color: var(--primaryBg);
    border-radius: var(--borderRadius);
}

.button:active {
    background-color: var(--primaryBg);
    border-radius: var(--borderRadius);
}

.sendImage {
    height: 75%;
    margin: auto;
}