.liveChatBox {
    background-color: #2a2a2a;
    margin: 20px 40px 20px 20px;
    padding: 15px;
    border-radius: 25px;
}

.chat {
    background-color: #3b3b3b;
    height: 340px;
    border-radius: 25px;
}

.inputBox {
    background-color: #3b3b3b;
    height: 40px;
    border-radius: 25px;
    margin-top: 15px;
}

.input {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 3px;
    width: 95%;
    height: 85%;
    border: none;
    outline: none;
    color: ghostwhite;
}
