.title {
    font-family: Impact, serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    color: #94140a;
}

.splash {
    font-family: Consolas, "Liberation Mono", "Courier New", monospace;
    text-align: center;
    font-size: 25px;
    color: gold;

    animation: splashAnimation 1s infinite linear;
}

@keyframes splashAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}