body {
  margin: 0;
}

.divContainer {
  position: relative;
  content: "";
  display: table;
  clear: both;
}

.divColumn {
  float: left;
  width: 33vw;
  text-align: center;
}

.sponsorsContainer {
  position: relative;
  overflow: hidden;
  bottom: 0;
  margin-top: 40vh;
}

.sponsorsHeader {
  text-align: center;
}